<mat-card style="margin-top: 40px;">
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/admin/profile">Profile</button>  
        <button mat-list-item routerLink="/admin/find-employee">Find Employee</button>
        <button mat-list-item routerLink="/admin/add-employee">Add Employees</button>
        <button mat-list-item routerLink="/admin/employees">All Employees</button>
        <button mat-list-item routerLink="/admin/logout" (click)="logout()">Logout</button>
    </mat-action-list>
</mat-card>
